body {
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
}

h1 {
  font-weight: 900;
  font-size: 1.8rem;
  color: hsl(223, 47%, 23%);
}

h2 {
  font-weight: 700;
  font-size: 1.1rem;
  color: hsl(223, 47%, 23%);
}

p {
  font-weight: 500;
  color: hsl(224, 23%, 55%);
}


.background {
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
  margin: 90px 30px 70px 30px;
}

.hero-illustration {
  width: 100%;
  margin: 0 auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.main-container {
  background-color: hsl(225, 100%, 98%);
  width: 380px;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 5px 20px -10px #3F8EDE;
}

.order-text {
  text-align: center;
  width: 80%;
  margin: auto;
}

.annual-plan {
  margin: 30px 40px;
  padding: 20px;
  background: rgba(150, 173, 196, 0.08);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}

.music-icon {
  align-self: center;
  margin: 0 auto;
}

.icon {
  margin: 0 auto;
  width: 100%;
  padding-top: 3px;
}

.price {
  text-align: left;
  flex-grow: 2;
  align-self: center;
  margin: 0 0 0 15px;
}

.plan-h2 {
  font-size: 1rem;
  margin: 0;
  font-weight: 700;
  margin-bottom: 5px;
}

.price-p {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 5px 0 0 0;
}

.link {
  text-decoration: underline;
  font-weight: 700;
  font-size: 0.9rem;
  color: hsl(245, 75%, 52%);
  align-self: center;
  margin: 0 auto;
}

a.link-a:hover {
  color: #6c6ad4;
  text-decoration: none !important;
}

.button-payment {
  margin: 0 40px;
  background-color: hsl(245, 75%, 52%);
  border-radius: 15px;
  padding: 10px 40px;
  font-weight: 900;
  font-size: 0.9rem;
  color: hsl(225, 100%, 98%);
  display: block;
  text-align: center;
  box-shadow: 0 5px 20px -5px #3F8EDE;
  text-decoration: none;
}

a.button-payment:hover {
  background-color: #4f4da1;
  box-shadow: 0 5px 20px -5px #4f4da1;
  transition: 0.4s ease;
}

.cancel-order {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  color: hsl(224, 23%, 55%);
  font-weight: 900;
  padding: 20px 0 30px 0;;
  text-decoration: none;
}

a.cancel-order:hover {
  color: hsl(223, 47%, 23%);
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  padding: 5px;
}

@media screen and (max-width: 600px) {

  .body {
    background-color: hsl(225, 100%, 94%);
    margin-left: 0;
    margin-top: 0;
    padding: 0;
  }

  .background {
    background-color: hsl(225, 100%, 94%);
    background-image: none;
    margin: 0;
    box-shadow: 0 0 0 hsl(225, 100%, 94%);
  }

  .main-container {
    margin: 0 auto;
    width: 300px;
  }

  .attribution {
    padding: 5px;
    background-color: hsl(225, 100%, 94%);
    margin: 0 auto;
  }

  html {
    margin: 0;
    background-color: hsl(225, 100%, 94%);
  }

  .order-text {
    margin: 0 auto;
    max-width: 220px;
  }

  .annual-plan {
    margin: 30px 15px;

  }
}
